modules = ["python-3.11", "nodejs-20"]

[nix]
channel = "stable-24_05"
packages = ["glibcLocales", "nodejs", "vim"]

[deployment]
deploymentTarget = "autoscale"
run = ["streamlit", "run", "app.py", "--server.port", "5000"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "build"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "dev-server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "server"

[[workflows.workflow]]
name = "build"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx webpack"

[[workflows.workflow]]
name = "dev-server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx webpack serve --host 0.0.0.0 --port 5001"
waitForPort = 5001

[[workflows.workflow]]
name = "server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5000 node app.js"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 5009
externalPort = 3001
